In [5]:
import pandas as pd
from io import StringIO
data = """
Date,Product,Region,Sales,Profit,Quantity
2023-01-02,Tablet,East,1061.81,236.12,7
2023-01-06,Laptop,North,1926.07,246.34,8
2023-01-03,Tablet,East,1597.99,253.17,3
2023-01-20,Tablet,North,1397.99,242.23,1
2023-01-04,Laptop,West,734.03,140.36,4
2023-01-17,Tablet,North,733.99,188.66,2
2023-01-14,Keyboard,East,587.13,82.16,8
2023-01-07,Smartphone,East,1799.26,364.97,4
2023-01-11,Smartphone,West,1401.67,306.24,2
2023-01-01,Laptop,North,1562.11,170.72,6
2023-01-19,Monitor,North,530.88,117.59,6
2023-01-12,Laptop,West,1954.86,262.16,4
2023-01-09,Monitor,North,1748.66,197.62,6
2023-01-10,Smartphone,North,818.51,237.19,2
2023-01-08,Laptop,East,772.74,226.51,2
2023-01-05,Keyboard,North,775.11,202.83,4
2023-01-15,Tablet,North,956.36,153.90,8
2023-01-18,Monitor,West,1287.13,153.86,7
2023-01-13,Tablet,West,1147.92,271.88,9
2023-01-16,Tablet,South,936.84,176.15,8
"""
data_df = pd.read_csv(StringIO(data))
print(data_df.head())
print(data_df.describe())

         Date Product Region    Sales  Profit  Quantity
0  2023-01-02  Tablet   East  1061.81  236.12         7
1  2023-01-06  Laptop  North  1926.07  246.34         8
2  2023-01-03  Tablet   East  1597.99  253.17         3
3  2023-01-20  Tablet  North  1397.99  242.23         1
4  2023-01-04  Laptop   West   734.03  140.36         4
             Sales      Profit   Quantity
count    20.000000   20.000000  20.000000
mean   1186.553000  211.533000   5.050000
std     461.528444   66.916251   2.543826
min     530.880000   82.160000   1.000000
25%     774.517500  166.515000   2.750000
50%    1104.865000  214.670000   5.000000
75%    1571.080000  248.047500   7.250000
max    1954.860000  364.970000   9.000000

In [6]:
# Calculate the total sales for each region
total_sales_by_region = data_df.groupby('Region')['Sales'].sum()
print(total_sales_by_region)

Region
East      5818.93
North    10449.68
South      936.84
West      6525.61
Name: Sales, dtype: float64

In [7]:
# Find the most sold product based on quantity
most_sold_product = data_df.groupby('Product')['Quantity'].sum().idxmax()
print(f"Most sold product: {most_sold_product}")

Most sold product: Tablet

In [4]:
# Calculate the profit margin for each product
data_df['Profit Margin'] = (data_df['Profit'] / data_df['Sales']) * 100

# Compute the average profit margin for each product
avg_profit_margin_per_product = data_df.groupby('Product')['Profit Margin'].mean()
print(avg_profit_margin_per_product)

Product
Keyboard      20.080696
Laptop        17.112734
Monitor       15.134989
Smartphone    23.703647
Tablet        19.955758
Name: Profit Margin, dtype: float64